<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @snippet.description %>
</p>

<% if @snippet.user == current_user %>
	<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<% end %>
<%= link_to 'Back', snippets_path %>
